@import "theme/colors.css";
@import "theme/widgets.css";

* {
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono";
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;

    border-radius: 14px;

    margin: 8px;
}

#workspaces button {
    font-size: 22px;
    padding: 4px 12px;
    margin: 0 2px;
    min-width: 30px;
}

#workspaces button.focused {
    background: #5b3f9e;
    color: #ffffff;
}

#workspaces button:hover {
    background: #3a2566;
}
