#custom-odyssey,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock {
    background: @surface;

    padding: 0 12px;

    margin: 5px;

    border-radius: 10px;

    color: @text;
}

#workspaces {
    background: transparent;
}


#workspaces button {

    background: transparent;

    color: @text-muted;

    padding: 0 6px;

    margin: 5px 2px;

    border-radius: 50%;

    min-width: 18px;

    min-height: 18px;
}


#workspaces button:hover {

    color: @text;

}


#workspaces button.focused {

    color: @accent;

}


#workspaces button.urgent {

    color: #ff5f56;

}
